Flask
Flask-Cache
redis
Flask-SQLAlchemy
Flask-Script
raven[flask]
iso8601
psycopg2
gunicorn
six
path.py
dealer

git+https://github.com/singingwolfboy/flask-restful.git@1079b0bf91#egg=flask_restful
git+https://github.com/singingwolfboy/flask-heroku.git@v0.1.9#egg=flask_heroku
